extends layout

block header
    link(rel='stylesheet', href='/css/color-brewer.css')
    script(src='/js/highlight.pack.js')
    script.
        hljs.initHighlightingOnLoad();

    // Firebase
    script(src='https://cdn.firebase.com/js/client/2.3.2/firebase.js')
    // ACE and its JavaScript mode and theme files
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/mode-javascript.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/theme-textmate.js')
    // Firepad
    link(rel='stylesheet' href='https://cdn.firebase.com/libs/firepad/1.3.0/firepad.css')
    script(src='https://cdn.firebase.com/libs/firepad/1.3.0/firepad.min.js')
<<<<<<< 36648a324c7f32d587c66ae3dec761144ff3df3f
    // Userlist
    link(rel='stylesheet', href='/css/firepad_userlist.css')
    script(src='/js/firepad_userlist.js')

=======
    script(src='/js/ajv.min.js')
    script(src='/js/yaml.min.js')
>>>>>>> add ajv and yaml. it works. time to get the worker for ace set up

block content
    #userlist
    #firepad-container

    style.
        #firepad-container {
          width: 100%;
          min-height: 500px;
          height: 100%;
        }
        #userlist {
            position: relative;
            width: 100%;
            height: 100px;
        }

    script.
        var init = function() {
            // set up our schema validator first
            var ajv = Ajv();
            var schema = JSON.parse(`!{schema}`);
            var validate = ajv.compile(schema);

            var firepadRef = new Firebase('https://captionator.firebaseio.com/');
            firepadRef = firepadRef.child('#{playName}');
            firepadRef.authWithCustomToken("#{firebaseToken}", function(err, authData){
                if(err){
                    console.log("Login Failed!", err);
                } else {
                    console.log("Login Succeeded!", authData);
                }
            });
            console.log('Firebase data: ', firepadRef.toString());
            // Create ACE
            var editor = ace.edit("firepad-container");
            editor.$blockScrolling = Infinity; // stop warnings
            editor.setTheme("ace/theme/twilight");
            editor.renderer.setScrollMargin(5, 10, 0, 0);
            var session = editor.getSession();
            session.setUseWrapMode(true);
            session.setUseWorker(true);
            session.setMode("ace/mode/yaml");
            // Create Firepad.
            var userId = '#{locals.user.id}';
            var displayName = '#{locals.user.displayName}';
            var firepad = Firepad.fromACE(firepadRef, editor, {
                userId: userId
            });

            var firepadUserList = FirepadUserList.fromDiv(firepadRef.child('users'),
                document.getElementById('userlist'), userId, displayName);

            firepad.on('ready', function(){
                var parsedText = YAML.parse(firepad.getText());
                var isValid = validate(parsedText);
                console.log(validate.errors);
            });

        }
        window.onload = init;
