doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/css/normalize.css')
    script(src='/socket.io/socket.io.js')

    script.
        var socket = io.connect('', {
            query: 'token=#{locals.jwt}'
        });
        socket.on('connect', function() {
            console.log('connected and authenticated socket');
        });
        socket.on('disconnect', function() {
            console.log('disconnected socket');
        });
        socket.on("error", function(error) {
            if (error.type == "UnauthorizedError" || error.code == "invalid_token") {
                console.log("User's token has expired");
            }
        });

    link(rel='stylesheet', href='/css/dark.css')
    link(rel='stylesheet', href='/css/play.css')
    link(rel='stylesheet', href='/css/#{playName}.css')
    if !client
        link(rel='stylesheet', href='/css/control.css')
    script.
        window.playName = "#{playName}";
    script(src='/js/mousetrap.min.js')
    script(src='/js/jquery-2.2.0.min.js')
    script(src='/js/highlight.pack.js')
    script.
        socket.on('connect', function(){
            socket.emit('subscribe', playName);
        });
    script(src='/js/play.js')
    if !client
        script(src='/js/playControl.js')

    body
        div.gridElement#gridMinor
        div.gridElement#gridMajor
        - var slideIndex = 0
        each item in corpus
            if item instanceof Array
                // item is a single slide, iterate over it
                div.slide(class=(slideIndex == currIndex ? "active" : undefined))
                    each line in item
                        section.line
                            each dialogue, character in line
                                div.character(data-character=character.toLowerCase())= character
                                if dialogue instanceof Array
                                    <!-- multiple lines for #{character} -->
                                    - dialogue = dialogue.join('<br/>')
                                div.dialogue!= dialogue
                            div.clear
                    div.sourceCode
                        pre
                            code.yaml= yaml.dump(item)
                - slideIndex++
            else
                // item is multiple slides
                each lines, character in item
                    unless lines instanceof Array
                        - lines = [lines]
                    each dialogue in lines
                        div.slide(class=(slideIndex == currIndex ? "active" : undefined))
                            section.line
                                div.character(data-character=character.toLowerCase())= character
                                if dialogue instanceof Array
                                    <!-- multiple lines for #{character} -->
                                    - dialogue = dialogue.join('<br/>')
                                div.dialogue!= dialogue
                                div.clear
                            div.sourceCode
                                pre
                                    code.yaml= yaml.dump([item])
                        - slideIndex++
